/* 1. Imports
2.  Mobile and General
2a. General
2b. Mobile
3.  Midsize
4.  Large
5.  Really Large
 */

 /* 1. Imports */
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');
 
 /* 2a. General */
 body {
    height: 100%;
    ;min-height: 100%;
 }
 header {
    background-color: #abb7ab;
    text-align: center;
    width: 100%;
    height: 40%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}
    h1,h2 {
        font-family: 'Merriweather', serif;
        font-weight: bold;
        font-size:xx-large;
    }
    h1 {
        color: #283B48;
    }
    h2{
        color: #607B8B;
    }
    img {
        max-width: 100%;
        box-shadow: 5px 5px 5px grey;
    }

.assignmentPortal {
    border-bottom: double grey;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.lessonLinks {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    width: 100%;
    min-height: 60%;
    margin-left: auto;
    margin-right: auto;
}
    ul li {
        list-style-type: none; 
    }

    .exampleName {
        padding-bottom: 1em;
        font-family: 'Comfortaa';
        font-weight: 500;
    }

    .description {
        padding-top: 2em;
        font-family: 'Comfortaa';
        font-weight: 300;
    }
    
footer {
    background-color: #abb7ab;
    text-align: center;
    width: 100%;
    font-size: small;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
    
}


 /* 2b. Mobile */
 .columns{ 
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
}

 /* 3. Midsize */
 @media (min-width: 32.5em){

    .selfportrait{
        float: right;
        position: relative;
        right: 50px;
    }

    .columns{
        
        grid-template-columns: 50% 50%;
        padding: 1em;
    }
    

    .name_title, .assignmentPortal {
        text-align: left;
        padding: 1em;
    }

    .Principles {
        text-align: center;
    }
}


/* 4. Large */
@media (min-width: 75em){
    .columns{
        grid-auto-flow: column;
        grid-template-columns: 33% 33% 33%;
    }
}

/* 5. Really Large */