/* 1. Imports
2.  Mobile and General
2a. General
2b. Mobile
3.  Midsize
4.  Large
5.  Really Large
 */
 
 /* 1. Imports */

 /* 2a. General */

 footer {
    background-color: #abb7ab;
    text-align: center;
    max-width: 100%;
    font-size: small;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

 /* 2b. Mobile */

 /* 3. Midsize */

 /* 4. Large */

 /* 5. Really Large */

 /* page needs to have single, double and triple column for mobile, medium, and large pages */