/* ----index----- */
/* 1. imports */
/* 2. general */
/* 3. mobile */
/* 4. medium */
/* 5. large */

/* 1. imports */
@import 'general.css';
/* 2. general */
.buttons {
    display: none;
    float: right;
    margin-right: 2rem;
  }
  .buttons div {
    margin: 10px;
    color: #fffffa;
    cursor: pointer;
  }
  .buttons div > * {
    pointer-events: none;
  }
  .cards {
      display: block;
      width: 100%;
  }

.card {
    background-color: #924444;
    color: #fff;
    margin-bottom: 25px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card img {
    max-width: 200px;
    border-radius: 8px;
    margin-top: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

/* medium screen */

@media only screen and (min-width:625px) {
    .buttons {
        display: flex;
      }
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .cards.list {
        grid-template-columns: 1fr;
      }

}

/* large screen */
@media only screen and (min-width:1200px) {
   
}