/* ------------------------------------- GENERAL ------------------------------- */
/* specific & combined tags */
#wrapper {
	max-width: 100%;
}
h1, h2, h3 {
	font-family: 'Mulish', sans-serif;
	text-align: center;
}

ul, li, p, div {
	font-family: 'Mulish', sans-serif;
}
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
header {
    background-color: #4b86b4;
    color: #4b86b4;
}
body {
	background-color: #4b86b4;
	color: #ffffff
}
nav, footer {
    background-color: #666666;
    color: #ffffff;
    max-width: 100%;
}

/* headers */
header {
    max-width: 100%;
    height: 40%;
    padding: 1%;
}
header img {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-items: center;
	text-shadow: 2px 2px 2px #07314e;
	height: 175px;
}
header h1, header p{
	grid-column: 2;
	text-align: left;
	padding-left: 1em;
}
main h2 {
	text-align: center;
	/* text-shadow: 2px 2px 2px #07314e; */
}

/* navigation bar */
nav {
	margin: 0 auto;
	max-width: 100%;
	border-radius: 8px;
}
.navigation {
	list-style: none;
	padding: 0;
	border-radius: 5px;
}
.navigation li:first-child {
	display: block;
	text-align: right;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: #ffff;
	font-weight: 700;
	transition: 0.5s;
}

.responsive li {
	display: block;
}
.navigation a:hover,
.navigation a:focus {
	color: #ffffff;
	background-color:#924444;
	border-radius: 8px;
}

.navigation #Current a {
	color: #ffffff;
	background-color:#924444;
	border-radius: 8px;
}

/* contact info */
#contact {
	background-color: #fff;
	color: #1e4968;
	font-size: larger;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
}
#map {
	padding-top: .25em;
	padding-right: .25em;
}
#mapImg {
	max-width: 95%;
	height: 250px;
	width: 450px;
	border-radius: 8px;
	box-shadow: 5px 5px 5px gray;
}
#contact h4 {
	padding-top: 3%;
}

/* footer */
footer {
    text-align: center;
    font-size: small;
    padding: 1%;
    bottom: 0;  
}
footer a{
    color: #ffff;
}

/* ---------------------------- medium screen ---------------------------------- */
@media only screen and (min-width:625px) {

	/* navigation bar */
    .navigation {
		display: flex;

	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;

	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	/* contact info */
	#contact {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	#address {
		grid-column: 1;
		grid-row: 1;
		padding-left: 5em;
	}
	#direct {
		grid-column: 1;
		grid-row: 2;
		padding-left: 5em;
	}
	#map {
		grid-column: 2;
		grid-row: 1 / 3;
	}
}

/* ----------------------   Large Screen --------------------------------------- */
@media only screen and (min-width: 1200px) {
	body {
		max-width: 1400px;
	}
	/* contact info */
	#contact {
		grid-template-columns: 30% 70%;
	}
	#address {
		grid-column: 1;
		grid-row: 1;
	}
	#direct {
		grid-column: 1;
		grid-row: 2;
	}
	#map {
		grid-column: 2;
		grid-row: 1 / 3;
		padding-top: .25em;
	}
}