/* ----index----- */
/* 1. imports */
/* 2. general */
/* 3. mobile */
/* 4. medium */
/* 5. large */

/* 1. imports */
@import 'general.css';
/* 2. general */


/* ------------------------------- page content ------------------------------- */


  /* ------------------------------ images -------------------------------- */
#hero {
	width: 100%;
	position: relative;
	max-width: 100%;
}
.img {
	border-radius: 8px;
}

#images {
	max-width: 1400px;
	display: grid;
	grid-template-columns: 10;
	grid-template-rows: 10;
}
#mall {
	grid-column-start: 1;
	grid-column-end: 3;
	width: 33%;
}
#mural {
	grid-column-start: 2;
	grid-column-end: 5;
}


/* medium screen */
@media only screen and (min-width:625px) {
	/* -------------------------------- page conent ------------------------------- */

	
}

/* Large Screen */
@media only screen and (min-width: 1200px) {
	body {
		max-width: 1400px;
	}

}