/* ----index----- */
/* 1. imports */
/* 2. general */
/* 3. mobile */
/* 4. medium */
/* 5. large */

/* 1. imports */
@import 'general.css';
/* 2. general */


/* ------------------------------- page content ------------------------------- */


  /* ------------------------------ images -------------------------------- */
#hero {
	width: 100%;
	position: relative;
	max-width: 100%;
}
.img {
	border-radius: 8px;
}

#images {
	max-width: 1400px;
	display: grid;
	grid-template-columns: 10;
	grid-template-rows: 10;
}
#mall {
	grid-column-start: 1;
	grid-column-end: 3;
	width: 33%;
}
#mural {
	grid-column-start: 2;
	grid-column-end: 5;
}
/* ------------------------------ upcoming events -------------------------------*/
#eventBox {
	text-align: center;
	color: #924444;
	background-color: #fff;
	border-radius: 8px;
}
#eventBox h2 {
	font-size: x-large;
	padding-bottom: .25em;
	border-bottom: solid #924444 2px;
	box-shadow: none !important;
}
#events {
	list-style: none;
	display: grid;
	grid-template-columns: 50% 50%;
}
#events li :nth-child(odd) {
	grid-column: 1;
}
#events li :nth-child(even) {
	grid-column: 2;
}
#events li {
	padding: .5em;
	font-size: larger;
}

/* medium screen */
@media only screen and (min-width:625px) {
	/* -------------------------------- page conent ------------------------------- */

	
}

/* Large Screen */
@media only screen and (min-width: 1200px) {
	body {
		max-width: 1400px;
	}

}