/* ----index----- */
/* 1. imports */
/* 2. general */
/* 3. mobile */
/* 4. medium */
/* 5. large */
/* 1. imports */
@import 'general.css';
/* 2. general */

/* page content */
.card {
    background-color: #07314e;
    color: #fff;
    margin-bottom: 25px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

/* ----------------------------------- medium screen ------------------------------- */
@media only screen and (min-width:625px) {
    /* page content */
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 44em;
    }
    .card:nth-child(odd) img {
        grid-column: 1;
    }
    .card:nth-child(odd) .data {
        grid-column: 2;
        grid-row: 1;
    }
    img {
        max-width: 100%;
    }
}


/* ---------------------------------- large screen ---------------------------------- */
@media only screen and (min-width:900px) {
    .cards {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .card {
        display: block;
    }
    img {
        max-width: 100%;
    }
}