table thead tr td, table tfoot tr td {
    background-color: #7fb9c2;
    color: black;
    text-align: center;

}

table {
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 4px #628ca6;
    border-spacing: 1px;
    background-color: grey;
}

table thead tr td {
    font-size: x-large;
}
table tfoot tr td {
    font-size: small;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}
tr {
    background-color: #e7ffed;
}

.blue {
    background-color: #628ca6;
    color: white;
}

table tr td {
    text-align: center;
}

table tr td, table tr th {
    padding: 5px;
}